.detail-product {
    padding: 40px;
    padding-bottom: 120px;
}

.detail-product h1 {
    text-align: center;
    margin-bottom: 20px;
}

.detail-product-form {
    padding-top: 20px;
    padding-bottom: 80px;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: 5fr 5fr;
}
